@font-face {
    font-family: 'MBF';
    src: url("../fonts/MBFFutureVoyage.ttf");
}

@font-face {
    font-family: 'poppins';
    src: url("../fonts/Poppins-Regular.ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins'
}

.contained {
    width: 1600px;
    margin: auto
}

.container {
    max-width: 1500px !important;
    margin: auto !important;
}

.row {
    width: 100%;
    margin: auto;
}

section {
    padding: 30px 0 0
}

.cyan-section,
.cyan-overlay {
    background: #F1F5F9;
}

.white-section {
    background: #FFF
}

h2 {
    font-family: 'MBF';
    font-size: 56px;
    color: #0F172A;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    font-family: 'poppins';
    font-weight: bold
}

p {
    font-family: 'poppins';
    font-size: 24px;
    color: #475569;
}


.pb-80 {
    padding: 80px 0 20px !important;
}

@media (max-width: 760px) {
    h2 {
        font-size: 40px;
    }

    h4 {
        font-size: 21px;
    }

    p {
        font-size: 18px;
    }
}


/* ============== Bootstrap Media */

@media (min-width: 376px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333% !important;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}





/* ====================================================================== */
/* Start Hero Section */
/* ====================================================================== */

.section.hero {
    padding-bottom: 10px !important;
}

.hero .topbar {
    padding: 0 1em;
    margin-bottom: 5em;
}

.hero .topbar .logo {
    width: 250px;
}

.hero .topbar .logo img {
    width: 100%
}

.hero .show-off {
    position: relative;
    padding-bottom: 30px;

}

.hero .show-off .phone-img {
    position: absolute;
    width: 610px;
    top: -20%;
    left: 10%;
}

.hero .topbar .cta {
    width: 153px;
    margin-left: auto;
}

.hero .cta {
    /* width: 153px; */
}

.cta a {
    background: #3C0F65;
    color: #FFF;
    padding: 7px 20px;
    border: 2px solid #3C0F65;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}

.cta a:hover {
    background: transparent;
    color: #3C0F65;
    border: 2px solid #3C0F65;
    transition: 0.2s;
}


.show-off {
    padding: 80px 0 0;
}

.show-off .phone-img {
    width: 277px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero .show-off .headline {
    width: 100%;
}

.hero .show-off .headline p{
    margin-bottom: 5px;
}

.show-off .phone-img img {
    width: 100%;
}

.show-off .midify {
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
}

.new-section .show-off .midify h4 {
    font-size: 26px;
    text-align: left;
    font-family: 'poppins';
}

.new-section .show-off .midify p {
    font-size: 22px;
    text-align: left;
}

.show-off .headline {
    width: 90%;
}

.show-off .headline ul {
    margin: 20px 0 0 20px;
}

.hero .show-off .headline ul li {
    font-family: 'poppins';
    font-size: 24px;
    color: #475569;
}


.show-off .headline ul li+li {
    margin-top: 10px
}

.show-off .headline ul li:last-of-type {
    margin-top: 30px;
    list-style: none;
}

.show-off .headline ul li:nth-of-type(4){
    list-style: none;
    margin-left: -25px;
}

.show-off .headline ul li i {
    font-size: 1em;
    font-weight: bold;
    margin-right: 10px
}

.new-section {
    margin: 5em 0 0;
}

.new-section .section-heading {
    margin: 0;
    margin-bottom: 62px;
}



@media (max-width: 760px) {
    .hero .topbar {
        padding: 1em 0;
        margin-bottom: 2em;
    }

    .show-off {
        padding: 80px 0 0;
    }

    .show-off .phone-img {
        width: 202px;
    }

    .show-off .midify {
        margin: 0;
        max-width: 100%;
    }

    .show-off .midify .swiper-slide {
        width: auto;
        margin: auto;
    }

    .show-off .headline ul li .cta .cta-btn {
        display: block;
    }

    .new-section .show-off .midify h4 {
        font-size: 16px !important;
    }

    .new-section .show-off .midify p {
        font-size: 14px;
    }

    .hero .show-off {
        padding: 0 0 20px;
    }

    .hero .show-off .phone-img {
        position: relative;
        top: 0;
        left: 0;
        width: 400px;
    }

    .new-section {
        margin: 30px 0 0 !important;
    }
}


/* ====================================================== */
/* Features section */
/* ====================================================== */


.features {
    margin: 20px 0;
}

.features .separator {
    border-right: 1px solid #E2E8F0;
}

.features .separator:last-of-type {
    border: none
}

.features .feature-item {
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

.features .feature-item .icon {
    margin: 20px;
}

.features .feature-item h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.features .feature-item p {
    font-size: 18px;
    color: #475569;
    line-height: 27px;
}


@media (max-width: 760px) {
    .features .feature-item .icon {
        margin: 20px;
    }

    .features .feature-item h4 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .features .feature-item p {
        font-size: 14px;
        color: #475569;
        line-height: 27px;
    }
}

/* ====================================================== */
/* Products section */
/* ====================================================== */

#products .container {
    width: 100% !important;
}

.product-slider .swiper {
    width: 100%;
    height: 100%;
    margin: auto;
}



/* ====================================================================== */
/* Compatibility */
/* ====================================================================== */

.new-section .section-heading h3 {
    font-size: 32px;
    font-weight: bold;
    color: #475569;
}

.new-section .com-product .product-preview {
    margin-bottom: 10px;
    width: 100%;
}

.new-section .com-product .product-preview img {
    width: 100%;
}

.new-section .com-product {
    margin-bottom: 4em;
}


/* ======================================================================== */
/* Services */
/* ======================================================================== */


#services .services-box {
    margin-bottom: 140px;
}

#services .services-box .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em;
    border: 1px solid #ddd;
    min-height: 250px;
    border-top: none;
}

#services .services-box .service-item .icon {
    margin: 20px auto;
}

#services .services-box .service-item h4 {
    font-size: 22px;
    color: #475569;
}

#services .services-box .service-item p {
    font-size: 18px;
    color: #94A3B8
}

#services .services-box .service-item:hover h4 {
    color: #DF2390;
    transition: color 0.2s ease;
}


@media (max-width: 760px) {
    #services .services-box .service-item {
        min-height: 260px;
        justify-content: space-evenly;
        padding: 0.7em;
        border: 1px solid #ddd;
        border-top: none;
    }

    #services .services-box .service-item h4 {
        font-size: 18px;
    }

    #services .services-box .service-item p {
        font-size: 14px;
    }
    #services .services-box{
        margin-bottom: 100px;
    }
}



/* ============================= New Suggestions ============================== */

.new-suggestions {
    width: 100%;
    padding: 1em;
}

.new-suggestions .sug-title h4 {
    font-size: 22px;
    font-weight: bold;
    /* margin-left: 20px; */
    margin-bottom: 15px;
}

.new-suggestions .confidence-box {
    width: 100%;
    margin: auto;
    position: relative;
    padding: 2em;
    background: #E2E8F0;
    border-radius: 16px;
    /* min-height: 190px; */
}

.new-suggestions .confidence-box.magenta {
    background-color: #3C0F65;
}

.new-suggestions .confidence-box.magenta p {
    color: #E2E8F0;
}

.new-suggestions .confidence-box p {
    font-size: 18px;
    text-align: left;
    width: 75%;
}

.new-suggestions .confidence-box .absolute-img {
    position: absolute;
    top: -150px;
    right: 0;
}


@media(max-width: 760px) {
    .new-suggestions .confidence-box.mb-150 {
        margin-bottom: 80px;
    }

    .new-suggestions .confidence-box {
        padding: 1.25em;
    }

    .new-suggestions .confidence-box .absolute-img {
        width: 100px;
        top: -60px;
    }

    .new-suggestions .confidence-box .sug-title {
        font-size: 14px;
        font-weight: bold;
    }

    .new-suggestions .confidence-box p {
        width: 80%;
        font-size: 14px;
    }

    .new-suggestions .confidence-box .absolute-img img {
        width: 100%;
    }

    .new-suggestions .sug-title h4 {
        font-size: 18px;
    }
}

/* ==================================================================== */
/* Call To Action */
/* ==================================================================== */

.callToActio {
    width: 100%;
}

.callToAction .cta-box {
    width: 60%;
    margin: 5em auto;
    background-color: #F1F5F9;
    border-radius: 16px;
    padding: 1em;
}

.callToAction .cta-box .cta-img {
    width: 100%;
}

.callToAction .cta-box .cta-img img {
    width: 100%
}

.callToAction .cta-box .cta {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    margin: 30% 0 0;
    text-align: left;
    /* margin-bottom: 20px */
}

.callToAction .cta-box .cta h3 {
    font-size: 2em;
    font-weight: bold;
    color: #0F172A;
}
.callToAction .cta-box .cta .cta-btn{
    margin-top: 5em;
    display: block;
}

.callToAction .cta-box .cta p {
    font-size: 18px;
    color: #475569;
}


@media (max-width: 760px) {
    .callToAction .cta-box {
        width: 90%;
    }

    .callToAction .cta-box .cta-img {
        width: 90%;
        margin: auto;
    }
    .callToAction .cta-box .cta{
        margin: auto;
        text-align: center;
    }
}



/* ========================================================== */
/* Testimonials */
/* ========================================================== */

/* .testimonial-slider{
    margin: 5em auto
}
.testimonial-slider .slide-container{
    background: #F00;
}
.testimonial-slider .slide-container .client-item{
    width: 45% !important;
    display: flex;
}
.testimonial-slider .slide-container .client-item .client-card{
    display: flex;
    flex-direction: column;
}
.testimonial-slider .slide-container .client-item .client-card .quote{
    margin: 2em 0;
}
.testimonial-slider .slide-container .client-item .client-card p{
    margin: 2em 0;
}
.testimonial-slider .slide-container .client-item .client-card .personal-pic{
    margin: 2em 0;
} */







/* ============================================================ */
/* Footer */
/* ============================================================ */

.footer {
    background: #F8FAFC;
    padding: 3em 1em 1em;
    margin: 0;
}

.footer .footer-content {
    padding-bottom: 1em
}

.footer .footer-content .logo {
    width: 200px;
    margin-bottom: 5em
}

.footer .footer-content .logo img {
    width: 100%
}

.footer .footer-content .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.footer .footer-content .heading img {
    margin-right: 10px;
}

.footer .footer-content h4 {
    /* margin-left: 0.5em; */
    margin-bottom: 0;
    color: #475569
}

.footer .contact .row-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.footer .contact .row-info p{
    margin-bottom: 0;
    margin-left: 10px;
}

.footer p {
    font-size: 18px;
}

.footer .footer-content .shifts {
    margin-bottom: 70px;
}

.footer .footer-content .shifts p {
    margin-left: 1em;
}

.footer .copyright p a {
    color: #DF2390;
    text-decoration: none
}

.footer .copyright ul {
    float: right;
}

.footer .copyright ul li {
    margin-right: 10px;
}